<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Support Angular HTML5 routing by rewriting all non-file/non-directory requests to index.html
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]
  
  RewriteRule ^(.*)$ index.html [NC,L]
</IfModule>
